body {
	background-image: url("src/image/background.jpg"); 
	background-position: top;
}
a:link {
	color: #6495ED; 
	text-decoration: none;
}
a:visited {
	color: purple; 
	text-decoration: none;
}
a:hover {
	color: #6495ED; 
	text-decoration: underline;
}
#header {
	padding: 10px;
}
#head {
	border-radius: 50%;
}
#main {
	position: absolute; 
	left: 10%;
	right: 10%; 
	padding: 1%
}
#navigate{
	width: 47%;
	height: 100px;
	float: left;
}
.navi{
	float: left;
	margin-left: 20px;
}
#allarticle{
	margin-top: 20px;
	background: white;
	width: 100%;
	height: 800px;
	border-radius: 5px;
	padding: 20px;
	float: left;
}
#allarticle-head {
	border-bottom: 5px;
}
.allatc-info{
	border-bottom: 1px solid #EEE; 
	bottom: -1px;
}
.atc{
	margin-top: 20px;
	background: white;
	width: 100%;
	height: 800px;
	border-radius: 5px;
	padding: 20px;
	float: left;
}
.atc-head{
	border-bottom: 5px;
}
.atc-info{
	border-bottom: 1px solid #EEE;
	height: 20px;
}